
@{
    ViewBag.Title = "Index";
}
<div class="header">
    @Html.ActionLink("Bio", "Bio", "Portfolio")
    @Html.ActionLink("Projects", "Projects", "Portfolio")
    @Html.ActionLink("Education", "Education", "Portfolio")
    @Html.ActionLink("Reference", "Reference", "Portfolio")
</div>
<h1>Welcome</h1>
<p>I am <b>Mubtasin Karim</b></p>
<p>A student of American International University Bangladesh. <br>
    I am currently in 10th semester. And this is my simple portfolio.


    </p>
