
@{
    ViewBag.Title = "Reference";
}

<div class="header">
    @Html.ActionLink("Index", "Index", "Portfolio")
    @Html.ActionLink("Bio", "Bio", "Portfolio")
    @Html.ActionLink("Projects", "Projects", "Portfolio")
    @Html.ActionLink("Education", "Education", "Portfolio")

</div>
<h1>Reference</h1>

<p>
    <b>  1. MD. Rezaul Karim </b><br />
    Assistant Director <br />
    Bangladesh Bank <br /> <br /> 


    <b>  2. MD. Ahsan Habib </b><br />
    Public Prossecutor <br />
    Zilla Judge Court, Tangail <br /> <br /> <br />


</p>